<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Average User Rating</dt>
          <% if @ratings.length > 0 then %>
            <dd><%= @ratings.average("rating").round(2) %></dd>
          <else>
            <dd>This product has not been rated.</dd>
          <% end %>
        </dl>
      </div>
    </div>
    <div class="container">
      <h3>Add a Review</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Add a Review</h3>
          <% if current_user then %>
            <%= form_for ([@product, @product.ratings.build]) do |form| %>
              <p>Rating: <%= form.select :rating, [1, 2, 3, 4, 5] %></p>
              <p>Description: <%= form.text_area :description %></p>
              <%= form.submit "Submit Review" %>
            <% end %>
          <% else %>
            <p>Please <%= link_to "log in", '/login' %> to post a review.</p>
          <% end %>
        </div>
      </div>
      <h3>Reviews</h3>
      <% if @ratings.length > 0 then %>
        <% @ratings.each do |item| %>
        <div class="panel panel-default">
          <div class="panel-heading">Review by <%= item.user.first_name %></div>
          <div class="panel-body">
            <p><strong>Rating: </strong> <%= item.rating %></p>
            <p><strong>Description: </strong><%= item.description %></p>
          </div>
          <% if current_user && current_user.id == item.user.id then %>
            <div class="panel-footer">
              <%= button_to [@product, item], :method => :delete, class: 'btn btn-xs btn-danger' do %> Delete <% end %>
            </div>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <div class="panel panel-default">
          <div class="panel-body">There are currently no reviews for this product</div>
        </div>
      <% end %>
    </div>      
  </article>

</section>
