<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
        <h3>Reviews</h3>
        <% if @ratings.length > 0 then %>
          <dl class="dl-horizontal">
            <dt>Average Rating</dt>
            <dd><%= @ratings.average("rating").round(2) %></dd>
            <% @ratings.each do |item| %>
              <br>
              <dt>User:</dt>
              <dd><%= item.user.first_name %></dd>
              <dt>Rating:</dt>
              <dd><%= item.rating %></dd>
              <dt>Description:</dt>
              <dd><%= item.description %></dd>
              <% if current_user && current_user.id == item.user.id then %>
                <dt>Modify:</dt><dd><%= button_to [@product, item], :method => :delete, class: 'btn btn-xs btn-danger' do %> Delete <% end %></dd>
              <% end %>
              <br>
            <% end %>
          </dl>
        <% else %>
          <p>There are currently no reviews for this product.</p>
        <% end %>
        <h3>Add a Review</h3>
        <% if current_user then %>
          <%= form_for ([@product, @product.ratings.build]) do |form| %>
            <p>Rating: <%= form.select :rating, [1, 2, 3, 4, 5] %></p>
            <p>Description: <%= form.text_area :description %></p>
            <%= form.submit "Submit Review" %>
          <% end %>
        <% else %>
          <p>Please <%= link_to "log in", '/login' %> to post a review.</p>
        <% end %>
      </div>
    </div>
  </article>

</section>
